[secrets]
api_key = "INSERT-API-KEY-HERE" # NCBI api key is required for the script to run
db_host = "localhost"
db_user = "user"
db_pw = "hunter2"
email = "benny.zhao@agr.gc.ca" # developer (not end user) contact email given to ncbi

[download]
use_threads = false
threads = 50 # optimal number will vary for different machines, too high can crash/freeze (some ram required)

[logging]
level = "INFO" # can be DEBUG, INFO, WARNING, ERROR
filepath = "/var/log/ncbi_download/{}_run.log" # leave blank for console output
