[Unit]
After=network.service
Description=NCBI-Download

[Service]
Type=simple
ExecStart=/srv/Beebiome-Data-Portal-NCBI-Download/GCP_helpers/run.sh

[Install]
WantedBy=multi-user.target
