[Unit]
After=network.service
Description=NCBI-Download

[Service]
Type=simple
ExecStart=/root/Beebiome-Data-Portal-NCBI-Download/gcp/run.sh

[Install]
WantedBy=multi-user.target
