blessed==1.19.1
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
enlighten==1.10.2
entrezpy===2.1.3edit
google-api-core==2.7.3
google-auth==2.6.6
google-cloud-appengine-logging==1.1.1
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.0
google-cloud-logging==3.0.0
googleapis-common-protos==1.56.0
grpc-google-iam-v1==0.12.4
grpcio==1.46.1
grpcio-status==1.46.1
idna==3.3
mysql-connector-python==8.0.28
packaging==21.3
prefixed==0.3.2
proto-plus==1.20.3
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyparsing==3.0.9
requests==2.27.1
rsa==4.8
six==1.16.0
toml==0.10.2
urllib3==1.26.9
wcwidth==0.2.5
xmltodict==0.12.0
